<% provide(:title, "Edit Profile") %>
<% provide(:button_text, "Update profile") %>

<h1>Edit your profile</h1>
<div class="row">
	<div class="col-md-4 col-md-offset-3">
		<%= render 'form' %>
		<div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
	</div>
</div>